<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Run {{ run_id }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css">
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js"></script>
    <style>
      #map {
        height: 100%;
        width: 100%;
        position: absolute;
      }
      .address {
        font-family: monospace;
        font-size: 9pt;
      }
      .mapboxgl-popup-content {
          padding: 3px;
      }
      tbody tr:nth-child(odd) {
          background-color: #eee;
      }

      tbody tr:nth-child(even) {
          background-color: #ddd;
      }
      html, body { margin: 0; padding: 0 }
  </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
    mapboxgl.accessToken = '';

    var map = new mapboxgl.Map({
        container: 'map',
        center: [{{lon}}, {{lat}}],
        zoom: {{zoom}},
        style: "mapbox://styles/mapbox/light-v9",
        hash: true,
        dragRotate: false
    });

    // Add zoom control to the top right corner of the map
    map.addControl(new mapboxgl.NavigationControl({
        showCompass: false
    }));

    var popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false,
        maxWidth: 250
    });

    // Add dots and set up interactivity
    map.on('load', function () {
        map.addSource('dots', {
            type: 'vector', 
            tiles: ["{{ tile_url|escape }}"],
            maxzoom: 13
        });
        map.addLayer({
            id: 'dots', 
            type: 'circle', 
            source: 'dots',
            'source-layer': 'dots',
            paint: {
                'circle-color': '#25bffc',
                'circle-radius': [
                    "interpolate", 
                    ["linear"],
                    ["zoom"],
                    11, 2,
                    15, 6
                ],
                'circle-stroke-color': '#fff',
                'circle-stroke-width': [
                    "interpolate", 
                    ["linear"],
                    ["zoom"],
                    10, 0.5,
                    12, 1,
                    14, 2
                ]
            }
        }, 'waterway-label');

        map.on('mouseenter', 'dots', function (e) {
            map.getCanvas().style.cursor = 'pointer';
            var table = document.createElement('table');
            table.className = 'address';
            var tableBody = document.createElement('tbody');

            var fields = ['number', 'street', 'unit', 'city', 'region', 'district', 'postcode', 'hash', 'id'];
            fields.forEach(function (key) {
                var tr = document.createElement('tr');
                var thKey = document.createElement('th');
                thKey.setAttribute('scope', 'row');
                thKey.innerText = key;
                tr.appendChild(thKey);

                for (var i = 0; i < e.features.length; i++) {
                    var tdValue = document.createElement('td');
                    if (key.toUpperCase() in e.features[i].properties) {
                        tdValue.innerText = e.features[i].properties[key.toUpperCase()];
                    }
                    tr.appendChild(tdValue);
                }

                tableBody.appendChild(tr);
            });
            table.appendChild(tableBody);

            popup.setLngLat(e.features[0].geometry.coordinates)
                .setDOMContent(table)
                .addTo(map);

        });
        map.on('mouseleave', 'dots', function (e) {
            map.getCanvas().style.cursor = '';
            popup.remove();
        });
    });
    </script>
  </body>
</html>
